/*=============== CONTACT ===============*/
.contact{
    &_container{
        padding-bottom: 3rem;
    }
    &_description{
        text-align: center;
    }
    &_content{
        row-gap: .75rem;
    }
    &_address{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    &_information{
        font-weight: initial;
        color: var(--text-color);
    }
}