/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 4.5rem 0 1rem;
    
    &_title, &_title-center{
        font-size: var(--h2-font-size);
        color: var(--title-color);
        text-align: center;
        margin-bottom: var(--mb-1);
    }
}

.svg{
    &_color{
        fill: var(--first-color);
    }
    &_blob{
        fill: var(--first-color-light);
    }
    &_img{
        width: 300px;
        justify-self: center;
    }
}

/*=============== LAYOUT ===============*/
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}